<%- include('templates/headeradmin')-%>

	<div class="container addnews-form">
		<br>
		<br>
		<form method="POST" action="/addnews">
			<div class="mb-3">
				<label for="Url Gambar" class="form-label">Url Gambar Header</label>
				<input type="text" class="form-control" name="urlGambar" id="urlGambar" placeholder="Url Gambar">
			</div>
			<div class="mb-3">
				<label for="Judul Berita" class="form-label">Judul Berita</label>
				<input minlength="45" type="text" class="form-control" name="judulBerita" id="judulBerita"
					placeholder="Judul Berita">
			</div>
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">Paragraph 1</label>
				<textarea class="form-control" name="isiBerita1" id="isiBerita1" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">Paragraph 2</label>
				<textarea class="form-control" name="isiBerita2" id="isiBerita2" rows="3"></textarea>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">Paragraph 3</label>
				<textarea class="form-control" name="isiBerita3" id="isiBerita3" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-primary btn-all">Tambah</button> &nbsp;
			<a href="/daftarberita" class="btn btn-danger btn-all">
				Cancel</a>
		</form>
	</div>

	<%- include('templates/footer')-%>